@model CoverType

<form method="post">
	<input asp-for="Id" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete CoverType </h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="Name" class="form-label">Name</label>
			<input asp-for="Name" disabled class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<button type="submit" asp-action="Delete" asp-controller="CoverType" class="btn btn-danger" style="width:150px">Delete</button>
		<a asp-action="Index" asp-controller="CoverType" class="btn btn-secondary" style="width:150px">Back</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}

